                                                                                                                                                                                                                                                                                                                     /* ===============common-css-start================ */
body{
    padding-top: 109px;
    font-family: 'PT Sans', sans-serif;
  
    font-size:16px ;
    font-weight: 400;
    color:#898989; 
}

/* ==================common-css-end================== */

/* =======================header-start================= */
header{
background-color: #fcdb00;
padding: 20px 0;
}
.nav-bithe{

}
.logo{

}
.menu ul li a{
    font-size:22px;
    font-weight: 700;
    color: #010101 !important;
    padding:0 50px!important;
    /* text-align: right; */
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu ul li a {
        font-size: 20px;
        padding: 10px  0 0!important;
        text-align: right;
    }
    
}
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.menu ul li a {
        font-size: 20px;
        padding: 10px  0 0!important;
        text-align: right;
    }
    
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
.menu ul li a {
        font-size: 20px;
        padding: 10px  0 0!important;
        text-align: right;
    }
    
 }
.menu ul li:last-child a{
     padding-right: 0 !important;
}
.menu ul li a:hover{
     color: aliceblue !important;
}

@media (max-width: 575.98px) {
    .slider .slide-text {
        margin-top: 0 !important;
    }
    .slide-text h1 {
        font-size: 22px !important;
    }
     .icon ul li i {
        font-size: 34px !important;
        margin-right: 10px !important;
    }
    .carousel-bithee [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    }
    .slide-text p {
    margin-bottom: 10px !important;
}
.slide-text h2 {
    font-size: 18px !important;
    margin: 8px 0 !important;
}
.carousel-bithee {
    bottom: -60px !important;
}
.slider {
    padding-bottom: 60px !important;
}
}

/* =======================header-end=================== */

/* ---------slider-start------------- */

.slider{
    
    background-color: #fcdb00;
    padding-bottom: 100px;
}
.carousel-bithee {
   
    bottom: -80px;
   
}
.carousel-bithee [data-bs-target]
 {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
   
}

.slide-text{
    margin-top: 70px;
}
.slide-text h1{
font-size:32px;
font-weight: 700;
color:#010101;
}
.slide-text h2{
    font-size:20px;
    font-weight: 400;
    color: #323841;
    margin: 20px 0;
}
.slide-text p{
    font-size: 16px;
    color:#555555;
    margin-bottom: 45px;
}
.icon{

}
.icon ul li{
    

}
.icon ul li i{
font-size: 42px;
color:#010101;
margin-right:35px !important;
 transition: .3s;

}
.icon ul li i:hover{
    
transform: scale(.8);
color: aliceblue;
}
.slide-img{

}
.slide-img img{

}
/* ===========features-start============== */


.features

 {
    padding-bottom: 120px;
}
.features-title{
    padding-top: 100px;
    padding-bottom: 120px;
    text-align: center;
   
}
.h-title{
    
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            color:#010101;
            
}
.p-pragrap{
            font-size: 20px;
            font-weight: 400;
            color:#313841;
}

.full-grid{
            margin-top: 70px;


}
.font-icon{

}
.font-icon i{
            margin-top: 5px;
            font-size: 50px;
            color:#010101;
            transition: .3s;
}
.font-icon i:hover{
    transform: scale(.8);
}
.grid-text{

}
.grid-text h1{
            margin-bottom:10px;   
            font-size: 22px;
            font-weight: 400;
            color: #010101;
}
.grid-text p{
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 400;
            color:#898989;
}

/* =============features-end=========== */

/* =====contact-us-start===== */

.contact-us{
    background-color: #010101;
    padding-bottom: 120px;
}
.yellow{
        color:#fcdb00;
}
.ash{
         color:#898989;
}
.bithee-form{
            padding-bottom: 30px;
}

.cutom-form{
        margin-bottom: 70px;
}
.custom_input{
        padding: 15px 20px;
        height: 55px;
        color:#898989;

}
.btn{

}
.custom_submit{
            width: 100%;
            height: 55px;
            background-color:#fcdb00;
            font-family:'PT sans',sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-transform:uppercase;
}
.custom_submit:hover{
            background-color: aliceblue;
}
.custom_icon li{
margin-right: 30px !important;
}
.custom_icon li:last-child {
margin-right:0 !important;
}
.custom_icon li i{
font-size: 42px;
color:#fcdb00;
transition: .3s;
}
.custom_icon li i:hover{
color: white;
}


/* ========contact-us-end========== */

/* ============footer-start====== */

footer{
background-color: #010101;
padding-bottom: 120px;

}
.footer-address address{
color: white;
text-align: center;
}

.first-link p a{
    color: white;
    text-decoration:none;
    text-align: center;

}
.second-link{

}
.third-link{

}
.fourth-link{
     
}
/* ===============footer-end========== *